red { background-color: red;

   

   }

.or {

    background-color: orange;

    }

    .yell  {

        background-color:yellow;

        }

        .gre {

            background-color: green;

            }

            .blu {

                background-color: blue;

                }.ind {

                    background-color: indigo;

                    }.vib {

                        background-color: violet;

                        }
